/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-ene-2016, 14:02:21
    Author     : Tin
*/

.form{

}.form input[type='text'], .form textarea{

    padding: 4px 6px;
    width: 450px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 10px 0;
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 17px;
}
.form input[type='text']:focus, .form textarea:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}
.form input[type='number'], .form textarea{
    padding: 4px 6px;
    width: 450px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 10px 0;
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 17px;
}
.form input[type='number']:focus, .form textarea:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}
.form input[type='email'], .form textarea{
    padding: 4px 6px;
    width: 450px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 10px 0;
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 17px;
}
.form input[type='email']:focus, .form textarea:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}
.form input[type='select'], .form select{
    padding: 4px 6px;
    width: 450px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 10px 0;
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 17px;
}
.form input[type='select']:focus, .form select:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
    margin: 20px 0;
}
.form input[type='password'], .form textarea{
    padding: 4px 6px;
    width: 450px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 10px 0;
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 17px;
}
.form input[type='password']:focus, .form textarea:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}
.form input[type='submit']{
    margin: 10px 0;
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
    background: #e4f1f6;
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
    float: right;
}
.form input[type='submit']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.form input[type='submit']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);

}
.form input [type='form'] .form form{
    border: 1px solid #CED5D7;
    color: darkblue;

}
label{
    resize: none;
    margin: 10px 0;
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 18px;
    color: darkblue;
}

textarea{
    padding: 4px 6px;
    width: 450px;
    height: 150px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 10px 0;
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 17px;
}

.div{
     padding: 4px 6px;
    width: 150px;
    height: 20px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 10px 0;
    font-family: Georgia,'Times New Roman',times,serif;
    font-size: 17px;
    color: darkblue;
    border: 10px solid #CED5D7;

}



.table {   
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 17px;    margin: 45px;     width: 480px; text-align: left;    border-style: inset; border-color: #aabcfe; border-width: 10px; }

.th {     font-size: 18px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
          border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; text-align: center }

.td {    font-size: 17px;    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
         color: #669;    border-top: 1px solid transparent; text-align: center }

.tr:hover td { background: #d0dafd; color: #339; }


/*TYPOGRAPHY*/
.h1 { 
    float : left;
    margin : 0;
    padding : 20px 0 20px 25px;
    font : 150% "Trebuchet MS", Helvetica, Arial, Tahoma, sans-serif;
    letter-spacing : 5px;
    color : lightblue;
    font-size: 30px;
} 
.h2 { 
    float : left;
    margin : 0;
    padding : 20px 0 20px 0;
    font : 90% "Trebuchet MS", Helvetica, Arial, Tahoma, sans-serif;
    letter-spacing : 3px;
    color : #4592be;
    font-size: 20px;
} 
.h3 { 
    margin : 0;
    padding : 20px 0 20px 0;
    font : 150% "Trebuchet MS", Helvetica, Arial, Tahoma, sans-serif;
    text-transform : uppercase;
    letter-spacing : 3px;
    color : #143c55;
    font-size: 15px;
}
blockquote {
    font-weight : bold;
    font-style : italic;
    color : #b29b35;
} 
/*LINKS*/
a:link, a:visited { 
    color : #4592be;
    background : inherit;
    text-decoration : underline;
} 
a:hover { 
    color : #aaa;
    background : inherit;
    text-decoration : none;
} 
a img {
    border: 0;
}
/*IMAGES*/
.left { 
    float : left;
    border : 0 solid #656c4a;
    margin : 5px 0 10px 0;
    padding : 10px;
} 
/*SEARCH BOX*/
legend { 
    margin-bottom : 30px;
    color : #143c55;
} 
input { 
    background : #eee;
} 