/* 
    Created on : 20-sep-2014, 11:02:17
    Author     : Victor
*/
/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */


/* FORMATEO GENERAL ***********************************************************/
body {
    background: linear-gradient(to bottom, #4E718F 35%, #FFFFFF 100%) 50% 0% no-repeat fixed transparent;
}
p,
.faq-answer p {
    font-family: arial;
    font-size: 1em;
    color: #000;
}
h2 {
    font-family: arial;
    font-size: 1.45em;
}

h1#page-title {
    font-family: arial;
    font-size: 2em;
}
h2.node-title {
    font-family: arial;
    font-size: 1.3em;
    font-weight: bold;
}

li {
    font-family: arial;
}

a,
a:link {
    font-family: arial;
    color: #0096D3;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:visited{}

/*Tablas*/
/*table {
    border: 1px solid #CCC;
    width: 100%;
}

thead th, th {
    background: #f7f7f7;
    border-bottom: 1px solid #ccc;
    color: #333;
}

td, th {
    padding: 4px 8px;
    vertical-align: top;
}

th a, th a:link, th a:visited {
    text-decoration: none;
}

th a {
    display: block;
}

th a img {
    margin: 0 0 0 5px;
}

th.active {
    background: #DDD;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

 Odd & Even Styles 
tr.even td {
    background: #F1F5FA;
}

tr.odd td {
    background: #fff;
}

td.active {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

tr.even td.active {
    background: #e5e9ed;
}

tr.odd td.active {
    background: #f2f2f2;
}

tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
    background: #FFFEEE;
}

td ul.links {
    margin-bottom: 0;
}*/

/* ENCABEZADO *****************************************************************/
#zone-branding {
    height: 100px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

#zone-branding {
    /*background-color: #0096D3;*/
    background-image: url('../imagenes/encabezado-oculto.png');
}

.branding-data {
    position: relative;
}
.logo-ucr {
    position: absolute;
    top: 25px;
    left: 10px;
}

.img-responsive { 
    display: block;  height: auto;  max-width: 100%; 
}

.logo-img {
    position: absolute;
    top: 25px;
    right: 5px;
}

.site-name-slogan {
    display: none;
    position: absolute;
    top: 100px;
    left: 120px;
}  
/* MENU PRINCIPAL */
#zone-menu {
    border-left: 3px solid #CCC;
    border-right: 3px solid #CCC;
    border-bottom: 3px solid #CCC;
    /*border-bottom: 4px solid #0096D3;*/
    background-color: #E6E6E6;
    -webkit-box-shadow: 0px 6px 4px -4px  #0096D3;
    -moz-box-shadow: 0px 6px 4px -4px  #0096D3;
    box-shadow:  0px 6px 4px -4px  #0096D3;
}

/* Elementos del primer nivel */
.main-menu li {
    width: 100%;
    border-bottom: 1px #000;    
}
.main-menu a {
    line-height: 38px;
    padding: 0 10px;
    font-size: 1.125em;
    color: #0096D3;
}
.main-menu a:hover {
    color: #fff;             

}
.main-menu .sf-depth-1.active,
.main-menu .active-trail .sf-depth-1 { /* elemento activo */
    background-color: #FFF;
    color:  #0096D3;   
    text-decoration: none;
}
.main-menu .sf-depth-1 .sf-sub-indicator {  display: none;  }

/* Elementos de los submenu */
.main-menu li ul {
    margin-top: 4px;
    margin-left: 2px;
    border-bottom: 2px solid #0096D3;
}
.main-menu li ul li {
    margin: 0;
}
.main-menu li ul a { 
    color: #666;
    background-color: #E6E6E6;
}
.main-menu li ul a.active {
    color: #333;
    text-decoration: none;
}
.main-menu li ul a:hover {
    color: #0096D3;
    background-color: #fff;
}
.main-menu .sf-depth-2 .sf-sub-indicator {  
    display: inline;  
}


/* CONTENIDO ******************************************************************/  
.region#region-preface-first, /* regiones no utilizadas */
.region#region-preface-second,
.region#region-preface-third {
    min-height: 0;
}

#zone-content {
    background-color: #FFF;    
    border-left:  3px solid #CCC;
    border-right:  3px solid #CCC;
    border-bottom: 3px solid #CCC;
}

#region-content {  
    padding: 20px;
    background-image: -ms-linear-gradient(top, #FFFFFF 90%, #E6E6E6 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 90%, #E6E6E6 100%);
    background-image: -o-linear-gradient(top, #FFFFFF 90%, #E6E6E6 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.90, #FFFFFF), color-stop(1, #E6E6E6));
    background-image: -webkit-linear-gradient(top, #FFFFFF 90%, #E6E6E6 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 90%, #E6E6E6 100%);

    -webkit-box-shadow: 6px 0px 4px -4px #C2C2C2;
    -moz-box-shadow: 6px 0px 4px -4px #C2C2C2;
    -o-box-shadow: 6px 0px 4px -4px #C2C2C2;
    box-shadow: 6px 0px 4px -4px #C2C2C2, -6px 0px 4px -4px #C2C2C2;

}

.node-type-page.primernivel h1#page-title,
#block-views-noticias-portada .block-title { /* barra azul en los titulos */
    background-color: #0096D3;
    background-image: -ms-linear-gradient(left, #0096D3 50%, #0069b4 100%);
    background-image: -moz-linear-gradient(left, #0096D3 50%, #0069b4 100%);
    background-image: -o-linear-gradient(left, #0096D3 50%, #0069b4 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, #0096D3), color-stop(1, #0069b4));
    background-image: -webkit-linear-gradient(left, #0096D3 50%, #0069b4 100%);
    background-image: linear-gradient(to right, #0096D3 50%, #0069b4 100%);
    position: relative;
    top: -20px; left: -260px;
    padding-left: 252px;  width: 468px;
    height: 40px;
    color: #FFF;
    font-family: arial;
    font-size: 2em;
}

.node img,
#block-views-noticias-portada img {
    margin: 5px;
}

/* Noticias */
.view-noticias .views-row {
    padding-bottom: 20px; margin-bottom: 20px;    
}
.view-noticias .views-row:last-child {
    border-bottom: none;
}
.field-name-field-article-imagen {
    color: #666;
    font-size: 80%;
}
.field-type-taxonomy-term-reference .field-item {
    display: inline;
    margin-right: 5px;
}
.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference .field-items {
    display: inline-block;
}

/* Botones, redes sociales */
.sharethis-wrapper {
    display: inline-block;
}

/* Fecha en eventos */
.field-name-field-evento-fecha {
    font-size: 1.25em;
    color: #EEBC3C;
}

/* Tablas de las vistas */
table.views-table {
    width: 100%;
}
table.views-table thead tr{
    font-weight: bold;
    color: #FFF;
    background-color: #0096D3;
}
table.views-table tbody tr:nth-child(odd) {
    background-color: #EEE;
    border-bottom: none;
}
table.views-table tbody tr:nth-child(even) {
    background-color: #FFF;
    border-bottom: none;
}


/* PIE DE PAGINA **************************************************************/
#zone-footer {
    /*background-color: #ffffff;*/ 
    border-bottom: 3px solid #CCC;
    border-left: 3px solid #CCC;
    border-right: 3px solid #CCC;
    padding-top: 20px;
    margin-bottom: 20px;

    background: -webkit-linear-gradient(top, rgba(0, 150, 211, 1)  0%,rgba(255,255,255,0) 0%,rgba(255,255,255,0)50%), url('../imagenes/patron_fondo_lineas.png');
    background-repeat: no-repeat, repeat;

}

#zone-footer,
#zone-footer p {
    color: #0069B4me;
    text-align: center;
}
#zone-footer .block-powered-by-drupal {
    display: inline-block;
}
#zone-footer .block-powered-by-drupal p {
    margin-bottom: 0;
}
#zone-footer .block-user-menu {
    display: inline-block;    
    margin-left: 10px;
}
#zone-footer .block-user-menu ul.menu {
    display: inline;
}
#zone-footer .block-user-menu ul.menu li {
    list-style: none;
    display: inline;
}

/* COLUMNAS LATERALES *********************************************************/
.grid-3#region-sidebar-first,
.grid-3#region-sidebar-second {  
    background: -webkit-linear-gradient(top, rgba(0, 150, 211, 1)  0%,rgba(255,255,255,0) 0%,rgba(255,255,255,0)50%), url('../imagenes/patron_fondo_lineas.png');
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(90%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))), url('../imagenes/patron_fondo_lineas.png');
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%), url('../imagenes/patron_fondo_lineas.png');
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%), url('../imagenes/patron_fondo_lineas.png');
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%), url('../imagenes/patron_fondo_lineas.png');
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%), url('../imagenes/patron_fondo_lineas.png'); /* W3C */

    background-repeat: no-repeat, repeat;
}

#region-sidebar-first h2.block-title,
#region-sidebar-second h2.block-title { /* Titulos en bloques */
    background-color: #0096D3 ;
    background-image: url('../imagenes/block-title.png');
    line-height: 27px;
    font-family: arial;
    font-weight: bold;
    font-size: 1.05em;
    color: #FFF;
    padding-left: 15px;
}

/* Menu secundario */
#block-menu-block-1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
#block-menu-block-1 li { /* items de primer nivel */
    list-style: none !important;
    margin: 0; padding: 0;
    width: 100%;
}
a.dhtml-menu-icon { display: none !important; }
#block-menu-block-1 li a {
    display: block;
    height: 20px;
    padding: 5px 15px;
    color: #666;
}
#block-menu-block-1 li a:hover,
#block-menu-block-1 li a.active-trail {
    color: #0096D3;
    text-decoration: none;
}

#block-menu-block-1 li>ul { /* items de segundo nivel */
    margin-left: 15px;
}
#block-menu-block-1 li>ul li a {
    background-color: transparent;
    color: #666;
    text-decoration: none;
    /*padding: 10px 0;*/
    height: auto;
}
#block-menu-block-1 li>ul li a:hover,
#block-menu-block-1 li>ul li a.active-trail {
    color: #0096D3;
    text-decoration: none;
}


/* Menu de ayuda */  
#block-menu-menu-ayuda ul {
}  
#block-menu-menu-ayuda .content{
    margin: 10px 0;
}
#block-menu-menu-ayuda li {
    margin: 0 0 0 0px !important;
    padding: 0 15px !important;
    list-style-type: none !important;
    list-style-image: none !important;
}
#block-menu-menu-ayuda li ul li {
    margin-left: 5px !important;
}  
#block-menu-menu-ayuda li a {
    display: block;
    padding: 8px 4px 8px 10px;
    vertical-align: middle;    
}  
#block-menu-menu-ayuda li a.active {
    color: #ffffff;
}
#block-menu-menu-ayuda li.collapsed {}
#block-menu-menu-ayuda li.expanded {}


/* Bloque de busqueda */
#block-search-form {
    padding: 20px 15px;
    background-color: #d0cfcf;
    background-image: -ms-linear-gradient(left, #adadaf 0%, #d0cfcf 6%);
    background-image: -moz-linear-gradient(left, #adadaf 0%, #d0cfcf 6%);
    background-image: -o-linear-gradient(left, #adadaf 0%, #d0cfcf 6%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #adadaf), color-stop(0.6, #d0cfcf));
    background-image: -webkit-linear-gradient(left, #adadaf 0%, #d0cfcf 6%);
    background-image: linear-gradient(to right, #adadaf 0%, #d0cfcf 6%);
}
#block-search-form .block-inner {
    overflow: hidden;
}
#block-search-form #edit-search-block-form--2 {
    float: left;
    border-radius: 16px 0 0 16px;
    border: none;
    margin: 0;
    width: 174px;
    height: 24px;
}
#block-search-form #edit-submit,
#block-search-form #edit-submit--2,
#block-search-form #edit-submit--3 {
    float: left;
    border-radius: 0 16px 16px 0;
    border: none;
    height: 24px;
    padding: 4px 15px 5px;
    background: #FFF url('../imagenes/buscar.png') no-repeat 50% 50%;
    text-indent: -9999px;
}



/* Fechas importantes */
#block-views-calendario-proximamente .content {
    margin: 10px 0 10px 0;
}
#block-views-calendario-proximamente .view-content ul {
    padding: 0 15px;
}
#block-views-calendario-proximamente .view-content li {
    padding: 5px 0;
    margin: 0;
    border-bottom: 1px #999;
}
#block-views-calendario-proximamente .views-field-field-evento-fecha {
    color: #EEBC3C;
}
#block-views-calendario-proximamente .pager li {
    margin: 0;
}
#block-views-calendario-proximamente .more-link {
    padding-right: 10px;
}

.calendar-calendar td a {
    /*  color: #fff;*/
}
.calendar-calendar .month-view .full td.multi-day div.monthview, .calendar-calendar .week-view .full td.multi-day div.weekview, .calendar-calendar .day-view .full td.multi-day div.dayview,
.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff {
    background: #BCD6F0;
}

/* Redes Sociales */
#block-menu-menu-redes-sociales .content ul {
    margin: 10px 28px;
}
#block-menu-menu-redes-sociales .content li {
    display: inline-block;
    margin: 5px; padding: 0;
}
#block-menu-menu-redes-sociales .content li a {
    display: inline-block; width: 32px; height: 32px;
    text-indent: -9999px;
    background-image: url('../imagenes/iconogenerico.png');
}
#block-menu-menu-redes-sociales .content li #facebook {
    background-image: url('../imagenes/iconofacebook.png');
}
#block-menu-menu-redes-sociales .content li #twitter {
    background-image: url('../imagenes/iconotwitter.png');
}
#block-menu-menu-redes-sociales .content li #google-plus {
    background-image: url('../imagenes/iconogoogle-plus.png');
}
#block-menu-menu-redes-sociales .content li #youtube {
    background-image: url('../imagenes/iconoyoutube.png');
}
#block-menu-menu-redes-sociales .content li #flickr {
    background-image: url('../imagenes/iconoflickr.png');
}
#block-menu-menu-redes-sociales .content li #contacto {
    background-image: url('../imagenes/iconoemail.png');
}
#block-menu-menu-redes-sociales .content li .feed {
    background-image: url('../imagenes/iconofeed.png');
}

/* Menu de sitios externos */
#block-menu-menu-externo .content {
    margin: 0 0 10px 0;
}
#block-menu-menu-externo li {
    margin: 0 0 0 0px !important;
    padding: 0 15px !important;
    list-style-type: none !important;
    list-style-image: none !important;
}
#block-menu-menu-externo li.last {
    border-bottom: none;
}
#block-menu-menu-externo li ul li {
    border: none;
    margin-left: 5px !important;
}
#block-menu-menu-externo li a {
    display: block;
    padding-left: 10px;
    vertical-align: middle;
    line-height: 37px;
    font-size: 0.825em;
    border-bottom: 1px  #999;
}

/* Descargas recomendadas */
#block-menu-menu-descargas-portada .menu {
    margin-top: 10px;
}
#block-menu-menu-descargas-portada li {
    list-style: none;
    padding-left: 18px;
}  
#block-menu-menu-descargas-portada .menu a {
    padding-left: 25px;
    line-height: 22px;
    display: block;
    background-repeat: no-repeat;
}  
#block-menu-menu-descargas-portada #adobereader {
    background-image: url(../imagenes/icon_adobereader.png);
}  
#block-menu-menu-descargas-portada #firefox {
    background-image: url(../imagenes/icon_firefox.png);
}  
#block-menu-menu-descargas-portada #flash {
    background-image: url(../imagenes/icon_flash.png);
}


/* PORTADA ********************************************************************/  
.front #region-content #page-title,
.front #region-content .tabs,
.front #region-content .alpha-debug-block { /* Se esconde titulo de pagina de inicio */
    display: none;
}


/* Noticias */
#block-views-noticias-portada .block-title {
    left: -240px;
}

#block-views-noticias-portada .content {
    margin: 10px;
}

#block-views-noticias-portada {
    background-image: -ms-linear-gradient(top, #FFFFFF 90%, #E6E6E6 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 90%, #E6E6E6 100%);
    background-image: -o-linear-gradient(top, #FFFFFF 90%, #E6E6E6 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.90, #FFFFFF), color-stop(1, #E6E6E6));
    background-image: -webkit-linear-gradient(top, #FFFFFF 90%, #E6E6E6 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 90%, #E6E6E6 100%);

    border-bottom: 1px  #999;
}
#block-views-noticias-portada .views-field-title {
    font-family: arial;
    font-size: 1.3em;
    font-weight: bold;
}
.views-slideshow-controls-bottom {
    position: relative;
    width: 100%; height: 25px;
    margin: 20px 0;
}
.views-slideshow-pager-fields {
    position: absolute; right: 0;
    overflow: hidden;
    width: 125px;
}
.views-slideshow-pager-fields .views-slideshow-pager-field-item {
    float: left;
    text-indent: -9999px;
    background-color: #666;
    width: 15px; height: 15px;
    margin: 5px;
    border-radius: 8px;
}
.views-slideshow-pager-fields .views-slideshow-pager-field-item.active {
    background-color: #F8AC00;
}

/* Galeria */

.block-views-carrusel-block {
    padding: 10px;
}
.block-views-carrusel-block .block-title {
    font-family: arial;
    color: #0096D3;
}
.views_slideshow_cycle_slide {
    overflow: hidden;
}
.views_slideshow_cycle_slide .views-slideshow-cycle-main-frame-row-item {
    float: left;
}


/* PAGINAS ESPECIALES *********************************************************/
.page-node-141 h1#page-title, 
.page-node-142 h1#page-title, 
.page-node-9 h1#page-title, 
.page-node-2.primernivel h1#page-title, 
.page-node-10 h1#page-title, 
.page-node-11 h1#page-title, 
.page-node-12 h1#page-title, 
.page-node-13 h1#page-title, 
.page-node-14 h1#page-title, 
.page-node-73 h1#page-title, 
.page-node-15 h1#page-title, 
.page-node-166 h1#page-title, 
.page-node-3.primernivel h1#page-title {
    position: relative;
    top: -20px; left: -20px;
    padding-left: 0; width: 480px;
    height: 140px;
    text-indent: -999px;

    background-color: transparent;  
    background-position: center center, center center;
    background-repeat: no-repeat, no-repeat;

    border-bottom: 1px dashed #999;
}

.page-node-141 .grid-3#region-sidebar-first,
.page-node-142 .grid-3#region-sidebar-first,
.page-node-9 .grid-3#region-sidebar-first,
.page-node-2.primernivel .grid-3#region-sidebar-first,
.page-node-10 .grid-3#region-sidebar-first,
.page-node-11 .grid-3#region-sidebar-first,
.page-node-12 .grid-3#region-sidebar-first,
.page-node-13 .grid-3#region-sidebar-first,
.page-node-14 .grid-3#region-sidebar-first,
.page-node-73 .grid-3#region-sidebar-first,
.page-node-15 .grid-3#region-sidebar-first,
.page-node-166 .grid-3#region-sidebar-first,
.page-node-3.primernivel .grid-3#region-sidebar-first {
    margin: 0; /* elimina margen que era del titulo principal */
}



