/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-sep-2014, 15:29:06
    Author     : Victor
*/

/* ENCABEZADO *****************************************************************/
#zone-branding {
    height: 222px;
    border-left: 3px solid #CCC;
    border-right: 3px solid #CCC;
    border-top: 3px solid #CCC;
}

#zone-branding {
    background-image: url('../imagenes/horizonte.png'), url('../imagenes/encabezadoPeq.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center top, center bottom;
}

.logo-zone-branding {
    position: absolute;
    top: 25px;
    left: 10px;
}

/* MENU PRINCIPAL */
.main-menu li {
    width: auto;
    border-bottom: none;
}

/* CONTENIDO ******************************************************************/
.grid-6#region-content { /* Se eliminan margenes entre columnas */
    width: 440px;
    margin: 0;
}
.grid-9#region-content {
    width: 680px;
    margin: 0;
}

/* noticias */
.field-name-field-article-imagen {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}
.field-name-field-article-imagen .field-slideshow-slide { /* sobreescribe ancho del bloque para ajustarlo al ancho del estilo de imagen */
    width: 220px !important;
}
.field-name-field-article-imagen .field-slideshow { /* parche para cuando slideshow module hace un calculo erroneo */
    padding-bottom: 0 !important;
}
.block-views-noticias-portada .views-field-field-article-imagen {
    float: left;
}
.block-views-noticias-portada .views-field-field-article-imagen .content {
    margin: 0 !important;
}

/* COLUMNAS LATERALES *********************************************************/
.grid-3#region-sidebar-first,
.grid-3#region-sidebar-second {
    width: 240px; /* Se eliminan margenes entre columnas */
    margin: 0;
}
.grid-3#region-sidebar-first{
    -webkit-box-shadow: inset -6px 0px 4px -4px #c2c2c2;
    box-shadow: inset -6px 0px 4px -4px #c2c2c2;
}
.grid-3#region-sidebar-second{
    -webkit-box-shadow: inset 6px 0px 4px -4px #c2c2c2;
    box-shadow: inset 6px 0px 4px -4px #c2c2c2;
}
.node-type-page.primernivel .grid-3#region-sidebar-first,
.page-node-1 .grid-3#region-sidebar-first
/*.page-faq-page .grid-3#region-sidebar-first,
.page-contact .grid-3#region-sidebar-first,
.page-sitemap .grid-3#region-sidebar-first*/ { /* Deja margen para titulo de pagina */
    margin: 40px 0 0;
}


/* PORTADA ********************************************************************/  
.front #region-content {  
    width: 480px; padding: 20px 0;
}

/* PAGINAS ESPECIALES *********************************************************/

.page-node-1 #region-content { /* para que bloques especiales lleguen hasta el borde */
    width: 480px; padding: 0;
    background-image: none;
    border-bottom: none;
}


