/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 24, 2016, 12:21:27 AM
    Author     : Cesar
*/

.pag_btn {
    color: blue;
    cursor: pointer;
}
 
.pag_btn_des {
    color: blue;
}
 
.pag_num {
    border: solid 1px;
    border-color: blue;
    color: black;
    cursor: default
}